# API config
DEBUG=True
DJANGO_SECRET_KEY=''
ALLOWED_HOSTS=localhost,127.0.0.1,api

# Database config
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DB=boilerplate
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432

# Client config
API_PROXY=http://localhost:8000